/* ==========================================================================
Main page styles
========================================================================== */

.hipster {
  display: inline-block;
  width: 100%;
  height: 497px;
  background: url('../../../static/images/jhipster_family_member_2.svg') no-repeat center top;
  background-size: contain;
}
